In [ ]:
# dataframe.shape
# 행 개수, 열 개수
#
#  dataframe.shape[0] # 행 개수
# dataframe.shape[1] # 열 개수

In [1]:
from google.colab import drive
drive.mount('/gdrive') # google drive 연결
# %cd /gdrive/MyDrive/ ~~~ path 지정

Mounted at /gdrive

In [2]:
%cd /gdrive/MyDrive/수업 정리/재무금융/Corporate Finance/rawdata/dataguide

/gdrive/.shortcut-targets-by-id/1TW2gBTrdYap0MMMBfQEUFyBjzqW5Ei0G/rawdata/dataguide

In [3]:
import pandas as pd

# df = pd.ExcelFile('sas_dataguide - 복사본.xlsx')
# print(df.sheet_names)
# # sheet name

In [4]:
import os
import pandas as pd

# 현재 디렉토리에서 파일 목록 가져오기
try:
    files = os.listdir()
    # Excel 파일만 필터링
    excel_files = [file for file in files if file.endswith('.xlsx')]

    # 파일별 시트명 가져오기
    sheets_dict = {}
    for file in excel_files:
        try:
            # Excel 파일에서 시트명 가져오기
            excel_file = pd.ExcelFile(file)
            sheets_dict[file] = excel_file.sheet_names
        except Exception as e:
            sheets_dict[file] = f"오류 발생: {e}"

    # 결과 출력
    for file, sheets in sheets_dict.items():
        print(f"파일: {file}, 시트명: {sheets}")

except Exception as e:
    print("오류가 발생했습니다:", e)

파일: 김도연1.xlsx, 시트명: ['op_earn', 'depre_amort', 'depre', 'age', 'n_acq_intangi']
파일: 김도연2.xlsx, 시트명: ['sales', 'tangi', 'intangi', 'cash']
파일: 한민지.xlsx, 시트명: ['amort', 'payab', 'invent', 'const_receiv2', 'n_acq_tangi']
파일: 오영식.xlsx, 시트명: ['receiv', 'st_debt', 'lt_debt', 't_debt', 'const_receiv1']
파일: 총자산.xlsx, 시트명: ['asset', 'exchange', 'ind_code']

In [5]:
# 제공된 파일 및 시트 구조
file_sheets = {
    "김도연1.xlsx": ['op_earn', 'depre_amort', 'depre', 'age', 'n_acq_intangi'],
    "김도연2.xlsx": ['sales', 'tangi', 'intangi', 'cash'],
    "한민지.xlsx": ['amort', 'payab', 'invent', 'const_receiv2', 'n_acq_tangi'],
    "오영식.xlsx": ['receiv', 'st_debt', 'lt_debt', 't_debt', 'const_receiv1']
}

# 결과를 저장할 딕셔너리
dfs = {}

for file, sheets in file_sheets.items():
    for sheet in sheets:
        try:
            # 시트명을 키로 사용하여 데이터프레임 저장
            if sheet not in dfs:
                dfs[sheet] = pd.read_excel(file, sheet_name=sheet)
        except Exception as e:
            print(f"오류 발생 - 파일: {file}, 시트: {sheet}, 원인: {e}")

# 결과 확인
print("데이터프레임 딕셔너리가 생성되었습니다.")
for key, df in dfs.items():
    print(f"키: {key}, 데이터프레임 크기: {df.shape}")

데이터프레임 딕셔너리가 생성되었습니다.
키: op_earn, 데이터프레임 크기: (113, 3775)
키: depre_amort, 데이터프레임 크기: (113, 3775)
키: depre, 데이터프레임 크기: (113, 3775)
키: age, 데이터프레임 크기: (15, 3775)
키: n_acq_intangi, 데이터프레임 크기: (113, 3775)
키: sales, 데이터프레임 크기: (113, 3775)
키: tangi, 데이터프레임 크기: (113, 3775)
키: intangi, 데이터프레임 크기: (113, 3775)
키: cash, 데이터프레임 크기: (113, 3775)
키: amort, 데이터프레임 크기: (113, 3775)
키: payab, 데이터프레임 크기: (113, 3775)
키: invent, 데이터프레임 크기: (113, 3775)
키: const_receiv2, 데이터프레임 크기: (113, 3775)
키: n_acq_tangi, 데이터프레임 크기: (113, 3775)
키: receiv, 데이터프레임 크기: (113, 3775)
키: st_debt, 데이터프레임 크기: (113, 3775)
키: lt_debt, 데이터프레임 크기: (113, 3775)
키: t_debt, 데이터프레임 크기: (113, 3775)
키: const_receiv1, 데이터프레임 크기: (113, 3775)

In [6]:
rows_to_drop = list(range(0, 13)) # 0 ~ 12

# 모든 코딩에서는 순서의 나열의 첫번째가 1이 아니라 0

for k in dfs.keys():
  dfs[k].columns = dfs[k].iloc[7] # firmcode line을 column명으로 지정
  dfs[k] = dfs[k].drop(rows_to_drop, axis=0)
  dfs[k] = dfs[k].set_index("Symbol")

/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)
/usr/local/lib/python3.10/dist-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [ ]:
# import pickle

# with open("data.pkl", "wb") as f:
#   pickle.dump(dfs, f)

In [ ]:
import pickle
with open("data.pkl", "rb") as f:
  dfs = pickle.load(f)

In [7]:
for k in dfs.keys():
  print(dfs[k].shape)

(100, 3774)
(100, 3774)
(100, 3774)
(2, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)
(100, 3774)

In [ ]:
# (dfs[k][["A459100"]].nunique(axis=1) == 1).sum(),  dfs[k][["A459100"]].shape[0]

# for k in dfs.keys():
#   if k == "ind_code": continue;
#   print(k)
#   for c in dfs[k].columns.unique():
#     if (dfs[k][[c]].nunique(axis=1) == 1).sum() != (dfs[k][[c]].shape[0] - dfs[k][[c]].isna().sum().sum()/4):
#       print(c)

In [8]:
for k in dfs.keys():
    dfs[k] = dfs[k].reset_index().melt(
        id_vars=["Symbol"],
        var_name="firmcode",
        value_name=k,
    ).rename(columns={"Symbol": "date"})

In [9]:
dfs.keys()

dict_keys(['op_earn', 'depre_amort', 'depre', 'age', 'n_acq_intangi', 'sales', 'tangi', 'intangi', 'cash', 'amort', 'payab', 'invent', 'const_receiv2', 'n_acq_tangi', 'receiv', 'st_debt', 'lt_debt', 't_debt', 'const_receiv1'])

In [10]:
result = dfs["op_earn"][["date", "firmcode"]]
for c in dfs.keys():
    result = pd.merge(result, dfs[c], on=["date", "firmcode"], how="left")
result["age"] = result.groupby("firmcode")["age"].bfill()
result

,date,firmcode,op_earn,depre_amort,depre,age,n_acq_intangi,sales,tangi,intangi,...,amort,payab,invent,const_receiv2,n_acq_tangi,receiv,st_debt,lt_debt,t_debt,const_receiv1
0,2000-03-31,A005930,7435154660000,0,0,19690113,-159370696000,34283752279000,10219634197000,249313570000,...,39719069000,1521771765000,2393378495000,NaN,0,1742070581000,1325905385000,4072889465000,10951075026000,NaN
1,2000-06-30,A005930,7435154660000,0,0,19690113,-159370696000,34283752279000,11112579486000,251158700000,...,39719069000,1436493659000,2437804676000,NaN,0,1430818836000,1086982735000,3800269432000,10342607378000,NaN
2,2000-09-30,A005930,7435154660000,0,0,19690113,-159370696000,34283752279000,11425142980000,254243539000,...,39719069000,1485997320000,2574499784000,NaN,0,1418259062000,1335677920000,3270561002000,10214423086000,NaN
3,2000-12-31,A005930,7435154660000,0,0,19690113,-159370696000,34283752279000,12324428649000,265416250000,...,39719069000,1492046020000,2802763625000,NaN,0,1291888806000,2369431387000,1703868164000,10702199203000,NaN
4,2001-03-31,A005930,2295333697000,0,0,19690113,13935887000,32380374608000,13601653564000,256026192000,...,41917482000,1349197905000,2576686420000,NaN,0,1343607453000,2765022094000,1610101319000,10154146139000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377395,2023-12-31,A950180,NaN,NaN,NaN,20010801,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377396,2024-03-31,A950180,NaN,NaN,NaN,20010801,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377397,2024-06-30,A950180,NaN,NaN,NaN,20010801,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377398,2024-09-30,A950180,NaN,NaN,NaN,20010801,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377399,2024-11-28,A950180,NaN,NaN,NaN,20010801,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# result.to_csv("merge_1129_cry.csv", encoding="utf8")

In [11]:
result["date"].nunique() == (2024-2000+1)*4

True

In [12]:
result["firmcode"].nunique() == 3774

True

In [13]:
import os

In [21]:
os.listdir("../finish_data")

['main-quater_5y.csv']

In [22]:
mdf = pd.read_csv("../finish_data/main-quater_5y.csv")

In [26]:
mdf["date"] = pd.to_datetime(mdf["date"]).dt.strftime("%Y-%m-%d")
result["date"] = pd.to_datetime(result["date"]).dt.strftime("%Y-%m-%d")
final_df = pd.merge(mdf, result, on=["date", "firmcode"], how="left", validate="1:1")

In [27]:
final_df

,date,firmcode,ind_code,asset,exchange,ebitda,month,year,asset_lag,cashflow,...,amort,payab,invent,const_receiv2,n_acq_tangi,receiv,st_debt,lt_debt,t_debt,const_receiv1
0,2005-12-31,A000020,C,1.926294e+11,유가증권시장,1.641653e+10,12.0,2005.0,1.926294e+11,0.085223,...,187916000,5574140000,17816730000,NaN,1103754000,68796821000,17417400000,2532250000,45798380000,NaN
1,2006-03-31,A000020,C,1.926294e+11,유가증권시장,1.663460e+10,3.0,2006.0,1.979484e+11,0.084035,...,187916000,3724042000,17010684000,NaN,427144000,61351885000,11096400000,2258150000,36903377000,NaN
2,2006-06-30,A000020,C,1.979484e+11,유가증권시장,1.489500e+10,6.0,2006.0,1.979484e+11,0.075247,...,207335000,5761904000,18313885000,NaN,1144654000,60718101000,11096400000,1984050000,39770627000,NaN
3,2006-09-30,A000020,C,1.979484e+11,유가증권시장,1.483009e+10,9.0,2006.0,1.979484e+11,0.074919,...,207335000,3819200000,17036563000,NaN,2166367000,57132831000,8596400000,1709950000,35511807000,NaN
4,2006-12-31,A000020,C,1.979484e+11,유가증권시장,1.514526e+10,12.0,2006.0,1.979484e+11,0.076511,...,207335000,9530569000,20465123000,NaN,2367762000,54465252000,8596400000,1435850000,39361461000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240383,2023-09-30,A950220,M,9.215155e+10,코스닥,-5.350263e+10,9.0,2023.0,9.215155e+10,-0.580594,...,500187000,0,0,NaN,698011000,NaN,444171000,1441202000,13130880000,NaN
240384,2023-12-31,A950220,M,9.215155e+10,코스닥,-5.155001e+10,12.0,2023.0,NaN,NaN,...,500187000,0,0,NaN,-5139000,NaN,462402000,1236186000,14045705000,NaN
240385,2024-03-31,A950220,M,NaN,코스닥,NaN,3.0,2024.0,NaN,NaN,...,NaN,0,0,NaN,47708000,NaN,453023000,1205441000,12401360000,NaN
240386,2024-06-30,A950220,M,NaN,코스닥,NaN,6.0,2024.0,NaN,NaN,...,NaN,0,0,NaN,10650000,NaN,453256000,1153436000,13196425000,NaN
240387,2024-09-30,A950220,M,NaN,코스닥,NaN,9.0,2024.0,NaN,NaN,...,NaN,0,0,NaN,52959000,1063957000,8447705000,13394118000,24005984000,NaN

In [28]:
final_df.to_csv("../finish_data/final_df.csv", encoding="utf8", index=False)